workflows/AI-Powered Lead Generation Workflow.json
{
  "name": "AI-Powered Lead Generation Workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2256,
        800
      ],
      "id": "1087d9e7-ab99-42ba-b501-1db04eb2964a",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/customsearch/v1",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "cx",
              "value": "e058691e097f34919"
            },
            {
              "name": "q",
              "value": "persone che lavorano nel tech"
            }
          ]
        },
        "options": {
          "pagination": {
            "pagination": {
              "parameters": {
                "parameters": [
                  {
                    "name": "start",
                    "value": "={{$response.body.queries.nextPage[0].startIndex }}"
                  }
                ]
              },
              "limitPagesFetched": true,
              "maxRequests": 3
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1968,
        624
      ],
      "id": "58c012b1-0115-41c9-93f6-daffecc8f972",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "fieldToSplitOut": "items",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1760,
        624
      ],
      "id": "06c7d90c-c089-4fb8-a2af-06148db0b634",
      "name": "Split Out"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://google.serper.dev/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "nomi di persone che lavorano nel tech"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "json"
            }
          },
          "pagination": {
            "pagination": {
              "parameters": {
                "parameters": [
                  {
                    "name": "start",
                    "value": "={{$response.body.queries.nextPage[0].startIndex }}"
                  }
                ]
              },
              "limitPagesFetched": true,
              "maxRequests": 3
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2000,
        944
      ],
      "id": "10cfc5ec-2b6a-40cc-830c-c22bda4bfc99",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "body",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1792,
        944
      ],
      "id": "7cd06cd1-b26a-4a3c-b704-4cd7a585fc53",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Ruolo dell’AI: Sei un assistente esperto nel pulire e strutturare dati di persone ricevuti da fonti varie.\nObiettivo: Ricevere dati grezzi di contatti o profili professionali e restituirli in un formato uniforme con i campi: nome, cognome, posizione lavorativa.\nIstruzioni:\n\nEstrai chiaramente ogni informazione dai dati forniti.\n\n\nRimuovi simboli o caratteri inutili e normalizza lo stile (iniziali maiuscole per nomi e cognomi, titoli di studio abbreviati o completi coerentemente, posizione lavorativa chiara e leggibile).\n\nRestituisci i dati solo in formato JSON, senza commenti o spiegazioni.\nFormato JSON richiesto\n\nINPUT: {{ JSON.stringify($json)}}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -1216,
        944
      ],
      "id": "d047af70-bf43-412a-89fc-df6b58351385",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Ruolo dell’AI: Sei un assistente esperto nel pulire e strutturare dati di persone ricevuti da fonti varie.\nObiettivo: Ricevere dati grezzi di contatti o profili professionali e restituirli in un formato uniforme con i campi: nome, cognome, posizione lavorativa.\nIstruzioni:\n\nEstrai chiaramente ogni informazione dai dati forniti.\n\nRimuovi simboli o caratteri inutili e normalizza lo stile (iniziali maiuscole per nomi e cognomi, titoli di studio abbreviati o completi coerentemente, posizione lavorativa chiara e leggibile).\n\nRestituisci i dati solo in formato JSON, senza commenti o spiegazioni.\nFormato JSON richiesto\n\nINPUT: {{ JSON.stringify($json)}}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -1168,
        640
      ],
      "id": "292916ed-a770-4542-94d6-74c49a0c3a1e",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1440,
        864
      ],
      "id": "3464ab9e-b481-4c1e-92d7-87c908b07ee8",
      "name": "Google Gemini Chat Model"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {
          "responseFormat": "json_object"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1504,
        1152
      ],
      "id": "c7fef350-8020-41eb-9ec4-a04d1fe4a066",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1552,
        624
      ],
      "id": "e768772b-de30-49d9-af24-183a9fe4dadd",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1584,
        944
      ],
      "id": "43af8ca4-b17b-43d1-abdd-ce7e6d55fece",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"nome\": \"Franco\",\n\t\"cognome\": \"Mirabella\",\n    \"lavoro\" : \"Assicuratore\"\n\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -960,
        800
      ],
      "id": "1f7a89e2-b522-4b51-b4eb-7de7630391b3",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -208,
        816
      ],
      "id": "5b295dbe-9a84-4d87-bdb2-e6f5d1164c8a",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"nome\": \"Franco\",\n\t\"cognome\": \"Mirabella\",\n    \"lavoro\" : \"Assicuratore\"\n\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -1280,
        1168
      ],
      "id": "51368f88-e0ab-4085-aa21-5673efc973c7",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -672,
        1136
      ],
      "id": "237bfb17-aeeb-4db6-982d-15685ff00a25",
      "name": "Wait",
      "webhookId": "123109d4-6d8a-4d9d-becc-af5032347eaa"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -656,
        960
      ],
      "id": "19da5db2-54d3-4bcd-a8f3-a83194d21c85",
      "name": "Google Gemini Chat Model1"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "apphEjjKEUT4q6VKH",
          "mode": "list",
          "cachedResultName": "Untitled Base",
          "cachedResultUrl": "https://airtable.com/apphEjjKEUT4q6VKH"
        },
        "table": {
          "__rl": true,
          "value": "tblnGP6fCnahZmPs5",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/apphEjjKEUT4q6VKH/tblnGP6fCnahZmPs5"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "cognome",
              "displayName": "cognome",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "lavoro",
              "displayName": "lavoro",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Todo",
                  "value": "Todo"
                },
                {
                  "name": "In progress",
                  "value": "In progress"
                },
                {
                  "name": "Done",
                  "value": "Done"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Attachments",
              "displayName": "Attachments",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Attachment Summary",
              "displayName": "Attachment Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        208,
        816
      ],
      "id": "76f38f3e-7bda-4825-811f-eee65c973c8e",
      "name": "Create a record"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1104,
        1360
      ],
      "id": "28b51d46-32a5-4cf7-b948-d85f0029cdda",
      "name": "OpenAI Chat Model1"
    },
    {
      "parameters": {
        "content": "## Two HTTP Nodes\nI created two HTTP nodes using two different search engines to achieve a wider range of search results. The first node uses Google, while the second one uses Serper. To configure the Serper integration, I imported the request using cURL.",
        "height": 752,
        "width": 736
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2368,
        432
      ],
      "typeVersion": 1,
      "id": "a1cd92ce-a117-417f-b72b-f433ab748cf8",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1212a519-631e-4e42-88d4-77d46be1a0d0",
              "name": "nome",
              "value": "={{ $json.output.nome }}",
              "type": "string"
            },
            {
              "id": "074c7c7e-b5e0-4571-84d0-aeb5556c03df",
              "name": "cognome",
              "value": "={{ $json.output.cognome }}",
              "type": "string"
            },
            {
              "id": "ec26c9d5-483d-453d-a57e-4e69a75ea935",
              "name": "lavoro",
              "value": "={{ $json.output.lavoro }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        816
      ],
      "id": "cc71ce53-e5dc-4176-bfe0-4bc90d5d8b6e",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "content": "## Gemini & Open AI\nI used two AI agents based on different AI models in order to obtain varied outputs. I added a parser to structure the responses, and to prevent potential errors, I included an additional AI agent dedicated to format error management.",
        "height": 1072,
        "width": 1216,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1632,
        416
      ],
      "typeVersion": 1,
      "id": "60996667-3fe2-4c10-9417-365e6d74cd1c",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Publishing to Airtable\nFinal step, where a Merge node is used to combine all the processed information. I added an Edit node to clean and refine the output, ensuring it is formatted in the best possible way for Airtable. I configured the Edit node to prevent duplicate information from being included in the final output.",
        "height": 512,
        "width": 896,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -416,
        624
      ],
      "typeVersion": 1,
      "id": "b2e672d4-a2d2-403a-8a1e-a0732971a823",
      "name": "Sticky Note4"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Create a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "90683fb4-b1fc-4c5d-96d9-246c9adbf623",
  "meta": {
    "instanceId": "a920456940ba2d4cb138b883aee61bfd6c28041768acbb118c371c904f4aa217"
  },
  "id": "oyGslrBqnBwg93lIBt6EZ",
  "tags": []
}